.app__menuitem {
  width: 100%;
  margin: 1rem 0;
  /* background-color: red; */
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  /* opacity: 0.7; */
  justify-content: space-between;
}

.app__menuitem-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  /* opacity: 0.5; */
}

.statusText {
  font-style: italic;
  color: goldenrod;
}

.app__menuitem-sub {
  width: 100%;
  margin-top: 0.2rem;
}

.app__menuitem-name {
  flex: 1;
}

.app__menuitem-dash {
  width: 90px;
  /* display: flex; */
  flex: 1;
  height: 1px;
  background: var(--color-golden);
  margin: 0 1rem;
  /* opacity: 0.7; */
}

.app__menuitem-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px; 
}

.app__menuitem-price button {
  padding: 5px 10px; 
  border: none; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5px; 
}

.app__menuitem-price button:hover {
  background-color: #fff; 
}

.app__menuitem-price span {
  font-size: 16px; 
  font-weight: bold; 
  padding: 0 10px; 
}

.item-value {
  color: #fff;
}
